@model HotelBooking.ViewModels.HotelViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row m-2 p-2">
    <div class="col-4 text-center">
        <img src="@Model.Hotel.PhotoUrl" class="rounded-circle" height="200" width="200" />
        <h1>
            @Model.Hotel.Name
        </h1>
        <p class="text-muted">City : @Model.Hotel.City </p>
        <button class="btn btn-success btn-user btn-block"> Book Now </button>
    </div>
    <div class="col-7">
        <h1 class="text-primary">Description</h1>
        <p>@Model.Hotel.Description</p>

    </div>
</div>
<div class="row">
    @foreach(Image image in Model.Hotel.Images)
    {
        <img src="@image.ImageUrl" class="row m-2 rounded" width="200" height="200"/>
    }
</div>

