@model HotelBooking.ViewModels.HotelViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row m-2 p-2">
    <div class="col-4 text-center">
        <img src="@Model.Hotel.PhotoUrl" class="rounded-circle" height="200" width="200" />
        <h1>
            @Model.Hotel.Name
        </h1>
        <p class="text-muted">City : @Model.Hotel.City </p>
        <p class="card-text">
            @for (int i = 0; i < Model.Hotel.StarRating; i++)
            {
                <span class="fa fa-star checked"></span>
            }
            @for (int i = 0; i < 5 - Model.Hotel.StarRating; i++)
            {
                <span class="fa fa-star"></span>
            }
        </p>
    </div>
    <div class="col-7">
        <h1 class="text-primary">Descripetion</h1>
        <p>@Model.Hotel.Description</p>
    </div>
</div>
<div class="row">
    @foreach(Image image in Model.Hotel.Images)
    {
        <div class="col">
            <img src="@image.ImageUrl" class="rounded" height="200"/>
        </div>
    }
</div>
